.Rproj.user
.Rhistory
.RData
.Ruserdata
negocios_scripts_antigo.R
proposta_scripts_antigo.R
dash_teste.html
r_elevata.Rproj
botoes_teste.R
dash_botoes.html
dash_botoes.Rmd
dash_negocios_propostas.html
dash_teste.Rmd
dash_visitas.html
testes_subplot_grouped_stack.R
dash_negocios_propostas-_s_propostas.html
Super_visitas.html
Dashs
dash_negocios_visitas.html
Mapas
dash_mapas.html
dash_visitas_mapas.html
dash_visitas_mapas_k.html
visita_cliente.csv
Tabelas
dash_mapas_csv.html
dash_negocios_propostas_csv.html
dash_negocios_propostas_csv.Rmd
dash_negocios_visitas_csv.html
dash_visitas_mapas_csv.html
dash_visitas_mapas_k_csv.html
dash_negocios.html
dash_mapas_k.html
dash_propostas.html
dash_visitas_clientes.html
dash_geral.html
dash_marcas.html
dash_marcas_k.html
R-4.0.3-win.exe
test_1
